<h1> mentora </h1>
<div>
    <p> Name = <%= @mentora.name %></p>
</div>
<div>
    <p> Email = <%= @mentora.email %></p> 
</div>
<div>
    <p> Habilidades = <%= @mentora.abilities %></p>
</div>
<%= link_to "voltar", mentoras_path %>
    